@import './Styles/login.scss';
@import './Styles/layout.scss';
   

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   
    font-family: "Quicksand";
    background-color: #f5f6fa !important;
}